<section>
  {{#each mastered}}
  <div class="form-group">
    <label for="{{@root.rootId}}-{{key}}">{{label}}</label>
    <div class="form-fields">
      <select name="system.mastered.weapons.{{key}}" id="{{@root.rootId}}-{{key}}">
        {{selectOptions options selected=level}}
      </select>
    </div>
  </div>
  {{/each}}
</section>
