<section data-tab="{{tabs.attributes.id}}" class="{{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}">

  {{!-- ABILITIES --}}
  {{> "actor-abilities"}}

  {{!-- HP & MP --}}
  {{> "actor-resources"}}

  {{!-- ATTACK & CHECK --}}
  <div class="icon-fields">
    <div class="icon-field">
      {{#if isEditable}}
      <button type="button" data-action="configure" data-config="attack" class="unsize icon fa-solid fa-cog"></button>
      {{else}}
      <img src="{{attackImage}}" alt="">
      {{/if}}
      <div class="attack">
        <button type="button" data-action="rollCheck" data-check="accuracy" {{disabled (not isInteractive)}}>{{localize "RYUUTAMA.ACTOR.rollAccuracy"}}</button>
        <button type="button" data-action="rollCheck" data-check="damage" {{disabled (not isInteractive)}}>{{localize "RYUUTAMA.ACTOR.rollDamage"}}</button>
      </div>
    </div>

    <button type="button" class="heightened" data-action="rollCheck" data-check="check" {{disabled (not isInteractive)}}>
      <i class="fa-solid fa-burst"></i>
      <span>{{localize "RYUUTAMA.ACTOR.rollCheck"}}</span>
    </button>
  </div>

  {{!-- STATUSES --}}
  {{> "actor-statuses"}}

  <div class="icon-fields">
    {{!-- CONDITION --}}
    <div class="icon-field">
      {{#if isEditable}}
      <button type="button" data-action="configure" data-config="condition" class="unsize icon fa-solid fa-cog"></button>
      {{else}}
      <ryuutama-icon src="systems/ryuutama/assets/official/icons/check/condition.svg"></ryuutama-icon>
      {{/if}}
      <div class="form-group stacked">
        <label>{{localize "RYUUTAMA.ACTOR.condition"}}</label>
        <div class="form-fields">
          <span class="value italics">{{ifThen document.system.condition.value document.system.condition.value 0}}</span>
        </div>
      </div>
    </div>

    {{!-- ARMOR --}}
    {{> "actor-defense"}}
  </div>

  {{!-- SPECIAL ABILITY --}}
  {{#if specialAbility.item}}
  <section>
    <p>
      <strong>{{localize "RYUUTAMA.MONSTER.specialAbility"}}: {{specialAbility.item.name}}</strong>
    </p>
    {{{specialAbility.description}}}
  </section>
  {{/if}}

</section>
