<section data-tab="{{tabs.attributes.id}}" class="{{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}">

  {{!-- ABILITIES --}}
  {{> abilities}}

  {{!-- HP & MP --}}
  {{> resources}}

  {{!-- ATTACK & CHECK --}}
  <div class="icon-fields">
    <div class="icon-field">
      {{#if isEditable}}
      <button type="button" data-action="configure" data-config="attack" class="unsize icon fa-solid fa-cog"></button>
      {{else}}
      <img src="{{attackImage}}" alt="">
      {{/if}}
      <div class="attack">
        <button type="button" data-action="rollCheck" data-check="accuracy" {{disabled (not isInteractive)}}>{{localize "RYUUTAMA.ACTOR.rollAccuracy"}}</button>
        <button type="button" data-action="rollCheck" data-check="damage" {{disabled (not isInteractive)}}>{{localize "RYUUTAMA.ACTOR.rollDamage"}}</button>
      </div>
    </div>

    <button type="button" class="heightened" data-action="rollCheck" data-check="check" {{disabled (not isInteractive)}}>
      <i class="fa-solid fa-burst"></i>
      <span>{{localize "RYUUTAMA.ACTOR.rollCheck"}}</span>
    </button>
  </div>

  {{!-- STATUSES --}}
  {{> statuses}}

  <div class="icon-fields">
    {{!-- CONDITION --}}
    <div class="icon-field">
      {{#if isEditable}}
      <button type="button" data-action="configure" data-config="condition" class="unsize icon fa-solid fa-cog"></button>
      {{else}}
      <ryuutama-icon src="systems/ryuutama/assets/official/icons/check/condition.svg"></ryuutama-icon>
      {{/if}}
      <div class="form-group stacked">
        <label>{{localize "RYUUTAMA.ACTOR.condition"}}</label>
        <div class="form-fields">
          <span class="value italics">{{ifThen document.system.condition.value document.system.condition.value 0}}</span>
        </div>
      </div>
    </div>

    {{!-- ARMOR --}}
    {{> defense}}
  </div>

  {{!-- SPECIAL ABILITY --}}
  {{#if (or isEditable enriched.special)}}
  {{#unless disabled}}
  {{formGroup systemFields.description.fields.special.fields.name value=(ifThen disabled document.system.description.special.name source.system.description.special.name) placeholder=(localize "RYUUTAMA.MONSTER.specialAbility") disabled=disabled}}
  {{/unless}}
  <section>
    {{#if disabled}}
    <p>
      <strong>{{localize "RYUUTAMA.MONSTER.specialAbility"}}: {{document.system.description.special.name}}</strong>
    </p>
    {{/if}}
    {{formInput systemFields.description.fields.special.fields.value value=source.system.description.special.value enriched=enriched.special disabled=disabled toggled=disabled}}
  </section>
  {{/if}}

</section>
