<section data-tab="{{tabs.attributes.id}}" class="{{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}">

  {{!-- ABILITIES --}}
  <div class="icon-fields">
    {{#each abilities}}
    <div class="icon-field">
      {{#if @root.isEditable}}
      <button type="button" data-action="configure" data-config="ability" data-ability="{{ability}}" class="icon fa-solid fa-cog"></button>
      {{else}}
      <ryuutama-icon src="{{icon}}"></ryuutama-icon>
      {{/if}}
      <div class="form-group stacked">
        <label>{{label}}</label>
        <div class="form-fields">
          <span class="value">{{value.die}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  {{!-- HP & MP --}}
  <div class="form-group wide">
    <label>{{localize "RYUUTAMA.ACTOR.HP"}}</label>
    <div class="form-fields">
      <resource-bar name="system.resources.stamina.value" class="stamina"></resource-bar>
      {{#unless disabled}}
      <button type="button" data-action="configure" data-config="resource" data-resource="stamina" class="icon fa-solid fa-cog"></button>
      {{/unless}}
    </div>
  </div>
  <div class="form-group wide">
    <label>{{localize "RYUUTAMA.ACTOR.MP"}}</label>
    <div class="form-fields">
      <resource-bar name="system.resources.mental.value" class="mental"></resource-bar>
      {{#unless disabled}}
      <button type="button" data-action="configure" data-config="resource" data-resource="mental" class="icon fa-solid fa-cog"></button>
      {{/unless}}
    </div>
  </div>

  {{!-- ATTACK & CHECK --}}
  <div class="icon-fields">
    <div class="icon-field">
      {{#if isEditable}}
      <button type="button" data-action="configure" data-config="attack" class="icon fa-solid fa-cog"></button>
      {{else}}
      <img src="{{attackImage}}" alt="">
      {{/if}}
      <div class="attack">
        <button type="button" data-action="rollCheck" data-check="accuracy" {{disabled (not editable)}}>{{localize "RYUUTAMA.ACTOR.rollAccuracy"}}</button>
        <button type="button" data-action="rollCheck" data-check="damage" {{disabled (not editable)}}>{{localize "RYUUTAMA.ACTOR.rollDamage"}}</button>
      </div>
    </div>

    <button type="button" class="heightened" data-action="rollCheck" data-check="check" {{disabled (not editable)}}>
      <i class="fa-solid fa-burst"></i>
      <span>{{localize "RYUUTAMA.ACTOR.rollCheck"}}</span>
    </button>
  </div>

  {{!-- STATUSES --}}
  <div class="icon-fields column-3">
    {{#each statuses}}
    <div class="icon-field">
      <a data-action="toggleStatus" data-status="{{status}}">
        <ryuutama-icon src="{{img}}" {{#if active}} class="active" {{/if}}></ryuutama-icon>
      </a>
      <div class="form-group stacked">
        <label>{{name}}</label>
        <div class="form-fields">
          <span class="value italics">{{label}}</span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="icon-fields">
    {{!-- CONDITION --}}
    <div class="icon-field">
      {{#if isEditable}}
      <button type="button" data-action="configure" data-config="condition" class="icon fa-solid fa-cog"></button>
      {{else}}
      <ryuutama-icon src="systems/ryuutama/assets/official/icons/check/condition.svg"></ryuutama-icon>
      {{/if}}
      <div class="form-group stacked">
        <label>{{localize "RYUUTAMA.ACTOR.condition"}}</label>
        <div class="form-fields">
          <span class="value">{{ifThen document.system.condition.value document.system.condition.value 0}}</span>
        </div>
      </div>
    </div>

    {{!-- ARMOR --}}
    <div class="icon-field">
      <ryuutama-icon src=""></ryuutama-icon>
      {{formGroup systemFields.armor.fields.value value=(ifThen disabled document.system.armor.value source.system.armor.value) disabled=disabled classes="stacked" placeholder="-"}}
    </div>
  </div>

  {{!-- SPECIAL ABILITY --}}
  {{#if (or isEditable enriched.special)}}
  {{#unless disabled}}
  {{formGroup systemFields.description.fields.special.fields.name value=(ifThen disabled document.system.description.special.name source.system.description.special.name) placeholder=(localize "RYUUTAMA.ACTOR.specialAbility") disabled=disabled}}
  {{/unless}}
  {{formGroup systemFields.description.fields.special.fields.value value=source.system.description.special.value enriched=enriched.special disabled=disabled toggled=disabled label=(ifThen disabled specialAbility "")}}
  {{/if}}

</section>
