<section>
  {{!-- REPRESENTED ACTOR --}}
  <div class="form-group">
    <label for="{{rootId}}-actorId">{{localize "COMBATANT.FIELDS.actorId.label"}}</label>
    <div class="form-fields">
      <input type="text" name="actorId" id="{{rootId}}-actorId" value="{{document.actor.name}}" disabled>
    </div>
  </div>

  {{!-- REPRESENTED TOKEN --}}
  <div class="form-group">
    <label for="{{rootId}}-tokenId">{{localize "COMBATANT.FIELDS.tokenId.label"}}</label>
    <div class="form-fields">
      <input type="text" name="tokenId" id="{{rootId}}-tokenId" value="{{document.actor.name}}" disabled>
    </div>
  </div>

  {{!-- NAME --}}
  {{formGroup fields.name value=source.name rootId=rootId placeholder=document.name localize=true}}

  {{!-- IMAGE --}}
  {{formGroup fields.img value=source.img rootId=rootId localize=true}}

  {{!-- INITIATIVE --}}
  {{formGroup fields.initiative value=source.initiative rootId=rootId localize=true}}

  {{!-- DELAYED INITIATIVE --}}
  {{formGroup systemFields.initiative.fields.value value=source.system.initiative.value rootId=rootId placeholder="@combatant.initiative"}}

  {{!-- STATUSES --}}
  <div class="form-group">
    <span class="label">{{localize "COMBATANT.Status"}}</span>
    <div class="form-fields">
      <label class="checkbox">
        {{formInput fields.hidden value=source.hidden}}
        {{localize "COMBATANT.FIELDS.hidden.label"}}
      </label>
      <label class="checkbox">
        {{formInput fields.hidden value=source.defeated}}
        {{localize "COMBATANT.FIELDS.defeated.label"}}
      </label>
    </div>
  </div>
</section>
