<section data-tab="{{tabs.action.id}}" class="{{tabs.action.cssClass}}" data-group="{{tabs.action.group}}">
  {{#if document.system.action}}
  <fieldset>
    <legend>
      <span>{{localize (concat "RYUUTAMA.PSEUDO.ACTION.LABELS." document.system.action.type)}}</span>
      {{#unless disabled}}
      <a data-action="removeAction" data-tooltip="RYUUTAMA.ITEM.removeAction">
        <i class="fa-solid fa-trash"></i>
      </a>
      {{/unless}}
    </legend>
    {{> (lookup . "actionTemplate") action=document.system.action}}
  </fieldset>
  {{else}}
  <div class="form-group">
    <label for="{{rootId}}-system.action.type">{{localize "RYUUTAMA.ITEM.selectAction"}}</label>
    <div class="form-fields">
      <select name="system.action.type" id="{{rootId}}-system.action.type">
        {{selectOptions actionTypes blank="" disabled=disabled}}
      </select>
    </div>
  </div>
  {{/if}}
</section>
