<section data-tab="{{tabs.details.id}}" class="{{tabs.details.cssClass}}" data-group="{{tabs.details.group}}">
  {{!-- PRICE --}}
  {{formGroup systemFields.price.fields.value value=(ifThen disabled document.system.price.total source.system.price.value) disabled=disabled classes="slim" placeholder="1"}}

  {{!-- SIZE & DURABILITY --}}
  <div class="form-group stacked">
    <label>{{localize "RYUUTAMA.ITEM.durability" value=document.system.durability.value max=document.system.durability.max}}</label>
    <div class="form-fields">
      {{formGroup systemFields.durability.fields.spent value=(ifThen disabled document.system.durability.spent source.system.durability.spent) disabled=disabled max=document.system.durability.max type="number"}}
      {{formGroup systemFields.size.fields.value value=(ifThen disabled document.system.size.total source.system.size.value) disabled=disabled}}
    </div>
  </div>

  {{!-- ARMOR --}}
  {{formGroup systemFields.armor.fields.defense value=(ifThen disabled document.system.armor.defense source.system.armor.defense) disabled=disabled classes="slim" placeholder="0"}}
  {{formGroup systemFields.armor.fields.penalty value=(ifThen disabled document.system.armor.penalty source.system.armor.penalty) disabled=disabled classes="slim" placeholder="0"}}

  {{!-- MODIFIERS --}}
  {{formGroup systemFields.modifiers value=(ifThen disabled document.system.modifiers source.system.modifiers) disabled=disabled options=modifiers type="checkboxes" classes="stacked"}}
</section>
