<section>
  <fieldset>
    <legend>{{localize "RYUUTAMA.ITEM.details"}}</legend>
    {{formGroup fields.name value=(ifThen disabled document.name source.name) disabled=disabled}}
    {{formGroup fields.img value=(ifThen disabled document.img source.img) disabled=disabled}}

    {{!-- PRICE --}}
    {{formGroup systemFields.price.fields.value value=(ifThen disabled document.system.price.total source.system.price.value) disabled=disabled classes="slim"}}

    {{!-- MODIFIERS --}}
    {{formGroup systemFields.modifiers value=(ifThen disabled document.system.modifiers source.system.modifiers) type="checkboxes" classes="stacked" disabled=disabled options=modifierOptions}}

    {{!-- DURABILITY & SIZE --}}
    {{#if hasDurability}}
    <div class="form-group">
      <label>{{localize "RYUUTAMA.ITEM.durability" value=document.system.durability.value max=document.system.durability.max}}</label>
      <div class="form-fields">
        {{formGroup systemFields.durability.fields.spent value=(ifThen disabled document.system.durability.spent source.system.durability.spent) disabled=disabled max=document.system.durability.max type="number"}}
        {{formGroup systemFields.size.fields.value value=(ifThen disabled document.system.size.total source.system.size.value) disabled=disabled}}
      </div>
    </div>
    {{/if}}
  </fieldset>

  {{formInput systemFields.description.fields.value enriched=enriched value=source.system.description.value disabled=disabled toggled=disabled height=300}}

  {{#if isWeapon}}
  {{> "systems/ryuutama/templates/sheets/item-sheet/weapon.hbs"}}
  {{/if}}

  {{#if isGear}}
  {{> "systems/ryuutama/templates/sheets/item-sheet/gear.hbs"}}
  {{/if}}
</section>
