<section data-tab="{{tabs.details.id}}" class="{{tabs.details.cssClass}}" data-group="{{tabs.details.group}}">
  <fieldset>
    <legend>{{localize "RYUUTAMA.ITEM.details"}}</legend>
    {{formGroup fields.name value=(ifThen disabled document.name source.name) disabled=disabled}}
    {{formGroup fields.img value=(ifThen disabled document.img source.img) disabled=disabled}}

    {{!-- PRICE --}}
    {{#if hasPrice}}
    {{formGroup systemFields.price.fields.value value=(ifThen disabled document.system.price.total source.system.price.value) disabled=disabled classes="slim" placeholder=document.system.price.total}}
    {{/if}}

    {{!-- MODIFIERS --}}
    {{#if hasModifiers}}
    {{formGroup systemFields.modifiers value=(ifThen disabled document.system.modifiers source.system.modifiers) type="checkboxes" classes="stacked" disabled=disabled options=modifierOptions}}
    {{/if}}

    {{!-- DURABILITY & SIZE --}}
    {{#if hasDurability}}
    <div class="form-group">
      <label>{{localize "RYUUTAMA.ITEM.durability" value=document.system.durability.value max=document.system.durability.max}}</label>
      <div class="form-fields">
        {{formGroup systemFields.durability.fields.spent value=(ifThen disabled document.system.durability.spent source.system.durability.spent) disabled=disabled max=document.system.durability.max type="number"}}
        {{formGroup systemFields.size.fields.value value=(ifThen disabled document.system.size.total source.system.size.value) disabled=disabled}}
      </div>
    </div>
    {{/if}}

    {{!-- CONTAINER SIZE --}}
    {{#if isContainer}}
    {{formGroup systemFields.size.fields.value value=(ifThen disabled document.system.size.total source.system.size.value) disabled=disabled classes="slim"}}
    {{/if}}
  </fieldset>

  {{#if isHerb}}
  {{> "item-herb"}}
  {{/if}}

  {{#if isSpell}}
  {{> "item-spell"}}
  {{/if}}

  {{#if isWeapon}}
  {{> "item-weapon"}}
  {{/if}}

  {{#if isGear}}
  {{> "item-gear"}}
  {{/if}}

  {{#if hasArmor}}
  {{> "item-defense"}}
  {{/if}}

  {{#if isContainer}}
  {{> "item-container"}}
  {{/if}}

  {{!-- DESCRIPTION --}}
  {{#if disabled}}
  {{#if enriched.description}}
  <section class="description">
    <h4>{{localize "RYUUTAMA.ITEM.description"}}</h4>
    {{{enriched.description}}}
  </section>
  {{/if}}
  {{else}}
  {{formInput systemFields.description.fields.value value=source.system.description.value height=300}}
  {{/if}}
</section>
