{{!-- LEVEL --}}
{{formGroup systemFields.level value=(ifThen disabled document.system.level source.system.level) disabled=disabled type="number" classes="slim"}}

{{!-- SUBTYPE --}}
{{formGroup systemFields.category.fields.value value=(ifThen disabled document.system.category.value source.system.category.value) disabled=disabled classes="slim"}}

{{!-- EFFECT DESCRIPTION --}}
{{#if disabled}}
{{#if enriched.effect}}
<section class="description">
  <h6>{{systemFields.description.fields.effect.label}}</h6>
  {{{enriched.effect}}}
</section>
{{/if}}
{{else}}
{{formGroup systemFields.description.fields.effect value=source.system.description.effect height=300}}
{{/if}}
