<section>
  <fieldset>
    <legend>{{localize "RYUUTAMA.WEAPON.weaponConfiguration"}}</legend>
    {{formGroup systemFields.category.fields.value value=(ifThen disabled document.system.category.value source.system.category.value) disabled=disabled classes="slim"}}

    <div class="form-group">
      <label>{{localize "RYUUTAMA.WEAPON.weaponAccuracy"}}</label>
      <div class="form-fields">
        {{#each (ifThen disabled document.system.accuracy.abilities source.system.accuracy.abilities) as |v k|}}
        {{formInput @root.systemFields.accuracy.fields.abilities.element value=v blank=false name=(concat "system.accuracy.abilities." k) disabled=@root.disabled}}
        {{/each}}
        {{formGroup systemFields.accuracy.fields.bonus value=(ifThen disabled document.system.accuracy.bonus source.system.accuracy.bonus) disabled=disabled placeholder="0" classes="slim"}}
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "RYUUTAMA.WEAPON.weaponDamage"}}</label>
      <div class="form-fields">
        {{formInput systemFields.damage.fields.ability value=(ifThen disabled document.system.damage.ability source.system.damage.ability) disabled=disabled}}
        {{formGroup systemFields.damage.fields.bonus value=(ifThen disabled document.system.damage.bonus source.system.damage.bonus) disabled=disabled placeholder="0" classes="slim"}}
      </div>
    </div>
  </fieldset>
</section>
