<section data-tab="{{tabs.attributes.id}}" class="{{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}">
  <div class="contents">
    <section class="image-tags">
      {{#each imageTags}}
      <span class="image-tag" {{#each dataset as |v k|}} data-{{k}}="{{v}}" {{/each}}>
        {{#if isSVG}}
        <ryuutama-icon src="{{icon}}"></ryuutama-icon>
        {{else}}
        <img src="{{icon}}" alt="{{label}}">
        {{/if}}
      </span>
      {{/each}}
    </section>

    {{!-- SKILLS --}}
    <section class="skills">
      {{#each skills}}
      {{> "document-list" label=label entries=entries}}
      {{/each}}
    </section>
  </div>
</section>
