<section data-tab="{{tabs.attributes.id}}" class="{{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}">
  {{!-- CONDITION & ARMOR --}}
  <div class="icon-fields" style="--grid-columns: 3">
    {{!-- CONDITION --}}
    <div class="icon-field">
      {{#if isEditable}}
      <button type="button" data-action="configure" data-config="condition" class="unsize icon fa-solid fa-cog"></button>
      {{else}}
      <a data-action="rollCheck" data-check="condition" {{disabled (not isInteractive)}}>
        <ryuutama-icon src="systems/ryuutama/assets/official/icons/check/condition.svg"></ryuutama-icon>
      </a>
      {{/if}}
      <div class="form-group stacked">
        <label>{{localize "RYUUTAMA.ACTOR.condition"}}</label>
        <div class="form-fields">
          <span class="value italics">{{document.system.condition.value}}</span>
          {{#if conditionShape.active}}
          <div class="tags center">
            {{#if conditionShape.high}}
            {{#if disabled}}
            <span class="tag">{{systemFields.condition.fields.shape.fields.high.label}}: {{conditionShape.ability}}</span>
            {{else}}
            {{formInput systemFields.condition.fields.shape.fields.high value=source.system.condition.shape.high blank=(localize "RYUUTAMA.TRAVELER.conditionShapeSelectAbility") hint=false}}
            {{/if}}
            {{else if conditionShape.low}}
            <span class="tag">{{localize "RYUUTAMA.TRAVELER.conditionShapeOutOfShape"}}</span>
            {{/if}}
          </div>
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- FUMBLES --}}
    <div class="icon-field">
      <ryuutama-icon src="systems/ryuutama/assets/official/icons/check/fumble.svg"></ryuutama-icon>
      <div class="form-group stacked">
        <label for="{{rootId}}-system.fumbles.value">{{systemFields.fumbles.fields.value.label}}</label>
        <div class="form-fields">
          <input type="text" name="system.fumbles.value" class="delta" value="{{document.system.fumbles.value}}" {{disabled (not editable)}} placeholder="0" id="{{rootId}}-system.fumbles.value">
        </div>
      </div>
    </div>

    {{!-- ARMOR --}}
    {{> "actor-defense"}}
  </div>

  <section class="skills">
    {{#each skills}}
    {{> "document-list" label=label entries=entries}}
    {{/each}}
  </section>
</section>
