<section data-tab="{{tabs.details.id}}" class="{{tabs.details.cssClass}}" data-group="{{tabs.details.group}}">

  {{!-- EXP & LEVEL --}}
  <fieldset>
    <legend>{{localize "RYUUTAMA.TRAVELER.advancement"}}</legend>
    {{formGroup systemFields.details.fields.exp value=(ifThen disabled document.system.details.exp source.system.details.exp) disabled=disabled classes="slim"}}
    {{formGroup systemFields.details.fields.level value=(ifThen disabled document.system.details.level source.system.details.level) disabled=disabled classes="slim" type="number"}}
  </fieldset>
</section>
