<section data-tab="{{tabs.inventory.id}}" class="{{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}">
  {{!-- CAPACITY BAR --}}
  <div class="capacity">
    <progress-bar resource="system.capacity" class="capacity {{#if capacityOverflow}} overflow {{/if}}" id="{{rootId}}-capacity"></progress-bar>
    {{#if document.system.capacity.penalty}}
    <span class="tag">({{{capacityPenalty}}})</span>
    {{/if}}
  </div>

  {{!-- EQUIPPED ITEMS --}}
  <section class="equipped">
    {{#each equipped as |eqp key|}}
    <div class="item">
      <label>{{label}}</label>
      {{#if item}}
      <a data-action="renderItem" data-item-id="{{item.id}}" data-tooltip-text="{{item.name}}" data-tooltip-direction="UP">
        <img src="{{img}}" alt="{{item.name}}">
      </a>
      {{else}}
      <div class="empty-slot"></div>
      {{/if}}
    </div>
    {{/each}}
  </section>

  {{!-- GOLD --}}
  {{formGroup systemFields.gold.fields.value value=(ifThen disabled document.system.gold.value source.system.gold.value) disabled=disabled classes="slim"}}

  {{!-- TABS --}}
  {{> "templates/generic/tab-navigation.hbs" tabs=inventoryTabs}}

  {{!-- INVENTORY SECTIONS --}}
  {{#each inventorySections}}
  <section data-tab="{{id}}" class="tab {{cssClass}}" data-group="inventory">
    {{#each groups}}
    <div class="inventory-group">
      <h4>{{label}}</h4>
      {{#if items.length}}
      {{inventory-element documents=items action="renderItem"}}
      {{/if}}
    </div>
    {{/each}}
  </section>
  {{/each}}

</section>
