<section data-tab="{{tabs.inventory.id}}" class="{{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}">
  {{!-- CAPACITY BAR --}}
  <div class="capacity">
    <span class="bar" style="--fill: {{document.system.capacity.pct}}%"></span>
    <span class="display">
      {{document.system.capacity.value}} / {{document.system.capacity.max}}
      {{#if document.system.capacity.penalty}}
      (&ndash;{{document.system.capacity.penalty}} {{localize "RYUUTAMA.ACTOR.capacityPenalty"}})
      {{/if}}
    </span>
  </div>

  {{!-- EQUIPPED ITEMS --}}
  <section class="equipped">
    {{#each equipped as |eqp key|}}
    <div class="item">
      <label>{{label}}</label>
      {{#if item}}
      <a data-action="renderItem" data-item-id="{{item.id}}" data-tooltip-text="{{item.name}}" data-tooltip-direction="UP">
        <img src="{{img}}" alt="{{item.name}}">
      </a>
      {{else}}
      <div class="empty-slot"></div>
      {{/if}}
    </div>
    {{/each}}
  </section>

  {{!-- GOLD --}}
  {{formGroup systemFields.gold.fields.value value=(ifThen disabled document.system.gold.value source.system.gold.value) disabled=disabled classes="slim"}}

  {{!-- TABS --}}
  {{> "templates/generic/tab-navigation.hbs" tabs=inventoryTabs}}

  {{!-- INVENTORY SECTIONS --}}
  {{#each inventorySections}}
  <section data-tab="{{id}}" class="tab {{cssClass}}" data-group="inventory">
    {{#each groups}}
    <h4>{{label}}</h4>
    {{#if items.length}}
    {{inventory-element documents=items action="renderItem"}}
    {{/if}}
    {{/each}}
  </section>
  {{/each}}

</section>
