<section data-tab="{{tabs.inventory.id}}" class="{{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}">
  <div class="contents">

    <section class="">
      {{!-- CAPACITY BAR --}}
      <div class="banner-label capacity constrained-width numeric-display">
        <ryuutama-icon class="value square" src="systems/ryuutama/assets/official/icons/capacity.svg" data-tooltip="RYUUTAMA.ACTOR.TRAVELER.capacity"></ryuutama-icon>
        <span class="label progress square">
          <progress-bar class="capacity {{#if capacity.overflow}} overflow {{/if}}" id="{{rootId}}-capacity" data-label="{{capacity.value}} / {{capacity.max}}" data-pct="{{capacity.pct}}"></progress-bar>
        </span>
      </div>

      {{!-- GOLD --}}
      <div class="gold">
        <label for="{{rootId}}-system.gold.value" class="value square">
          <ryuutama-icon src="systems/ryuutama/assets/official/icons/currency.svg" data-tooltip="RYUUTAMA.ACTOR.TRAVELER.gold"></ryuutama-icon>
        </label>
        <input class="delta label square" type="text" name="system.gold.value" value="{{document.system.gold.value}}" id="{{rootId}}-system.gold.value">
      </div>
    </section>

    {{!-- ITEM FILTERS --}}
    {{> "systems/ryuutama/templates/sheets/traveler-sheet/search.hbs" search=inventory.search}}

    {{!-- INVENTORY --}}
    <section class="inventory" data-search-container="inventory">
      {{#each inventory.groups}}
      {{> "document-list" label=labelPlural entries=items}}
      {{/each}}
    </section>
  </div>
</section>
