<section data-tab="{{tabs.inventory.id}}" class="{{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}">
  {{!-- CAPACITY BAR --}}
  <div class="capacity">
    {{#with document.system.capacity}}
    <progress-bar class="capacity {{#if @root.capacityOverflow}} overflow {{/if}}" id="{{@root.rootId}}-capacity" data-label="{{value}} / {{max}}" data-pct="{{pct}}"></progress-bar>
    {{/with}}
    {{#if document.system.capacity.penalty}}
    <span class="tag">({{{capacityPenalty}}})</span>
    {{/if}}
  </div>

  {{!-- EQUIPPED ITEMS --}}
  <section class="equipped">
    {{#each equipped as |eqp key|}}
    <div class="item">
      <label>{{label}}</label>
      {{#if item}}
      <a data-action="renderItem" data-uuid="{{item.uuid}}" data-tooltip-html="{{ryuutama-tooltip uuid=item.uuid}}">
        <img src="{{img}}" alt="{{item.name}}">
      </a>
      {{else}}
      <div class="empty-slot"></div>
      {{/if}}
    </div>
    {{/each}}
  </section>

  {{!-- GOLD --}}
  {{formGroup systemFields.gold.fields.value value=document.system.gold.value disabled=(not editable) rootId=rootId classes="slim currency"}}

  {{!-- TABS --}}
  {{> "templates/generic/tab-navigation.hbs" tabs=inventoryTabs}}

  {{!-- INVENTORY SECTIONS --}}
  {{#each inventorySections}}
  <section data-tab="{{id}}" class="tab {{cssClass}}" data-group="inventory">
    {{#each groups}}
    {{#if items.length}}
    {{> "document-list" label=label entries=items}}
    {{/if}}
    {{/each}}
  </section>
  {{/each}}

</section>
