<section data-tab="{{tabs.notes.id}}" class="{{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}">
  {{formGroup systemFields.details.fields.color value=(ifThen disabled document.system.details.color source.system.details.color) disabled=disabled}}

  {{formGroup systemFields.background.fields.appearance value=source.system.background.appearance enriched=enriched.appearance disabled=disabled toggled=disabled}}

  {{formGroup systemFields.background.fields.hometown value=source.system.background.hometown enriched=enriched.hometown disabled=disabled toggled=disabled}}

  {{formGroup systemFields.background.fields.notes value=source.system.background.notes enriched=enriched.notes disabled=disabled toggled=disabled}}
</section>
