<section data-tab="{{tabs.notes.id}}" class="{{tabs.notes.cssClass}}" data-group="{{tabs.notes.group}}">
  <div class="contents">
    {{#if disabled}}
    <section class="enriched-contents">
      {{#each descriptions}}
      <section class="collapsible-container {{#if collapsed}} collapsed {{/if}}" data-collapse-section="{{section}}">
        <a class="shaded-header" data-action="toggleSectionCollapse">
          <span>{{field.label}}</span>
          <i class="fa-solid fa-fw fa-chevron-down" inert></i>
        </a>
        <section class="collapsible-wrapper">
          <div class="collapsible-padding">{{{enriched}}}</div>
        </section>
      </section>
      {{/each}}
    </section>
    {{else}}
    <div class="editable-contents">
      <section class="accented-tabs">
        {{> "templates/generic/tab-navigation.hbs" tabs=notes}}
      </section>

      {{#each descriptions}}
      <section data-tab="{{lookup (lookup @root.notes section) 'id'}}" class="tab {{lookup (lookup @root.notes section) 'cssClass'}}" data-group="{{lookup (lookup @root.notes section) 'group'}}">{{formInput field value=source}}</section>
      {{/each}}
    </div>
    {{/if}}
  </div>
</section>
