<section data-tab="{{tabs.journey.id}}" data-group="{{tabs.journey.group}}" class="{{tabs.journey.cssClass}}">
  <div class="contents">

    {{!-- CAMPING --}}
    <section class="camping">
      <h3 class="section-line">{{localize "RYUUTAMA.ACTOR.PARTY.JOURNEY.camping"}}</h3>
      <section class="inputs">

        <div class="role">
          {{#if journey.camping.primary}}
          <span>{{journey.camping.primary.name}}</span>
          <button type="button" data-action="removeJourneyAssigned" data-journey="camping.primary" class="icon fa-solid fa-fw fa-ban" data-tooltip="RYUUTAMA.ACTOR.PARTY.JOURNEY.unassign"></button>
          {{else}}
          <select data-change="camping.primary">
            <option value="">{{localize "RYUUTAMA.ACTOR.PARTY.JOURNEY.selectMember"}}</option>
            {{#each journey.actorOptions}}
            <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
          {{/if}}
        </div>

        <div class="role">
          {{#if journey.camping.support}}
          <span>{{journey.camping.support.name}}</span>
          <button type="button" data-action="removeJourneyAssigned" data-journey="camping.support" class="icon fa-solid fa-fw fa-ban" data-tooltip="RYUUTAMA.ACTOR.PARTY.JOURNEY.unassign"></button>
          {{else}}
          <select data-change="camping.support">
            <option value="">{{localize "RYUUTAMA.ACTOR.PARTY.JOURNEY.selectMember"}}</option>
            {{#each journey.actorOptions}}
            <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
          {{/if}}
        </div>
      </section>
    </section>

    {{!-- DIRECTION --}}
    <section class="direction">
      <h3 class="section-line">{{localize "RYUUTAMA.ACTOR.PARTY.JOURNEY.direction"}}</h3>
      <section class="inputs">

        <div class="role">
          {{#if journey.direction.primary}}
          <span>{{journey.direction.primary.name}}</span>
          <button type="button" data-action="removeJourneyAssigned" data-journey="direction.primary" class="icon fa-solid fa-fw fa-ban" data-tooltip="RYUUTAMA.ACTOR.PARTY.JOURNEY.unassign"></button>
          {{else}}
          <select data-change="direction.primary">
            <option value="">{{localize "RYUUTAMA.ACTOR.PARTY.JOURNEY.selectMember"}}</option>
            {{#each journey.actorOptions}}
            <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
          {{/if}}
        </div>

        <div class="role">
          {{#if journey.direction.support}}
          <span>{{journey.direction.support.name}}</span>
          <button type="button" data-action="removeJourneyAssigned" data-journey="direction.support" class="icon fa-solid fa-fw fa-ban" data-tooltip="RYUUTAMA.ACTOR.PARTY.JOURNEY.unassign"></button>
          {{else}}
          <select data-change="direction.support">
            <option value="">{{localize "RYUUTAMA.ACTOR.PARTY.JOURNEY.selectMember"}}</option>
            {{#each journey.actorOptions}}
            <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
          {{/if}}
        </div>
      </section>
    </section>

  </div>
</section>
