<section data-tab="{{tabs.attributes.id}}" class="{{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}">
  <fieldset style="display: grid; grid-template-columns: repeat(5, 1fr);">
    <button type="button" data-action="rollCheck" data-check="check" {{disabled (not editable)}}>
      <i class="fa-solid fa-burst"></i>
      <span>Roll check</span>
    </button>

    <button type="button" data-action="rollCheck" data-check="accuracy" {{disabled (not editable)}}>
      <i class="fa-solid fa-burst"></i>
      <span>Roll accurcy</span>
    </button>

    <button type="button" data-action="rollCheck" data-check="damage" {{disabled (not editable)}}>
      <i class="fa-solid fa-burst"></i>
      <span>rol dmg</span>
    </button>

    <button type="button" data-action="rollCheck" data-check="initiative" {{disabled (not editable)}}>
      <i class="fa-solid fa-burst"></i>
      <span>roll intiaitive</span>
    </button>

    <button type="button" data-action="rollCheck" data-check="condition" {{disabled (not editable)}}>
      <i class="fa-solid fa-burst"></i>
      <span>roll condition</span>
    </button>
  </fieldset>

  <fieldset>
    <legend>traits</legend>
    <div class="form-group">
      <div class="form-fields">
        {{formGroup systemFields.condition.fields.value value=(ifThen disabled document.system.condition.value source.system.condition.value) disabled=disabled classes="stacked" placeholder="0"}}
        {{formGroup systemFields.fumbles.fields.value value=(ifThen disabled document.system.fumbles.value source.system.fumbles.value) disabled=disabled classes="stacked"}}
        {{formGroup systemFields.exp.fields.value value=(ifThen disabled document.system.exp.value source.system.exp.value) disabled=disabled classes="stacked"}}
        {{formGroup systemFields.details.fields.level value=(ifThen disabled document.system.details.level source.system.details.level) disabled=disabled classes="stacked" type="number"}}
        {{formGroup systemFields.gold.fields.value value=(ifThen disabled document.system.gold.value source.system.gold.value) disabled=disabled classes="stacked"}}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{{localize "RYUUTAMA.TRAVELER.abilities"}}</legend>
    <div class="form-group">
      <div class="form-fields">
        {{#each abilities}}
        {{formGroup field value=value disabled=disabled options=options classes="stacked"}}
        {{/each}}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>hp/mp</legend>
    <div class="form-group">
      <label>hp ({{document.system.resources.stamina.value}}/{{document.system.resources.stamina.max}})</label>
      <div class="form-fields">
        {{formGroup systemFields.resources.fields.stamina.fields.spent value=(ifThen disabled document.system.resources.stamina.spent source.system.resources.stamina.spent) disabled=disabled}}
        {{formGroup systemFields.resources.fields.stamina.fields.max value=(ifThen disabled document.system.resources.stamina.max source.system.resources.stamina.max) disabled=disabled}}
      </div>
    </div>

    <div class="form-group">
      <label>mp ({{document.system.resources.mental.value}}/{{document.system.resources.mental.max}})</label>
      <div class="form-fields">
        {{formGroup systemFields.resources.fields.mental.fields.spent value=(ifThen disabled document.system.resources.mental.spent source.system.resources.mental.spent) disabled=disabled}}
        {{formGroup systemFields.resources.fields.mental.fields.max value=(ifThen disabled document.system.resources.mental.max source.system.resources.mental.max) disabled=disabled}}
      </div>
    </div>
  </fieldset>
</section>
