<form class="standard-form">

  {{#if showAbilities}}
  <div class="form-group">
    <label>{{localize "RYUUTAMA.ROLL.abilities"}}</label>
    <div class="form-fields">
      <select name="abilities.0">
        {{selectOptions abilityOptions selected=abilities.abi1}}
      </select>
      {{#if abilities.abi2}}
      <select name="abilities.1">
        {{selectOptions abilityOptions selected=abilities.abi2}}
      </select>
      {{/if}}
    </div>
  </div>
  {{/if}}

  <div class="form-group">
    <label for="{{partId}}-situationalBonus">{{localize "RYUUTAMA.ROLL.situationalBonus"}}</label>
    <div class="form-fields">
      <input type="number" name="situationalBonus" id="{{partId}}-situationalBonus" value="{{configurations.rollConfig.situationalBonus}}" placeholder="0">
    </div>
  </div>

  {{#if showAccuracy}}
  <div class="form-group">
    <label for="{{partId}}-accuracy.consumeStamina">{{localize "RYUUTAMA.ROLL.consumeStamina"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="accuracy.consumeStamina" id="{{partId}}-accuracy.consumeStamina" {{checked configurations.rollConfig.accuracy.consumeStamina}}>
    </div>
    <p class="hint">{{localize "RYUUTAMA.ROLL.unmasteredWeaponHint"}}</p>
  </div>
  {{/if}}

  {{#if configurations.rollConfig.critical.allowed}}
  <div class="form-group">
    <label for="{{partId}}-critical.isCritical">{{localize "RYUUTAMA.ROLL.critical"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="critical.isCritical" id="{{partId}}-critical.isCritical" {{checked configurations.rollConfig.critical.isCritical}}>
    </div>
  </div>
  {{/if}}

  {{#if showConcentration}}
  <fieldset>
    <legend>{{localize "RYUUTAMA.ROLL.concentration"}}</legend>
    <div class="form-group slim">
      <label for="{{partId}}-concentration.consumeMental">{{localize "RYUUTAMA.ROLL.consumeMental"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="concentration.consumeMental" id="{{partId}}-concentration.consumeMental" {{checked configurations.rollConfig.concentration.consumeMental}}>
      </div>
    </div>

    {{#if allowConsumeFumble}}
    <div class="form-group slim">
      <label for="{{partId}}-concentration.consumeFumble">{{localize "RYUUTAMA.ROLL.consumeFumble"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="concentration.consumeFumble" id="{{partId}}-concentration.consumeFumble" {{checked configurations.rollConfig.concentration.consumeFumble}}>
      </div>
    </div>
    {{/if}}
  </fieldset>
  {{/if}}

  {{#if showCondition}}
  <div class="form-group slim">
    <label for="{{partId}}-condition.updateScore">{{localize "RYUUTAMA.ROLL.conditionUpdateScore"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="condition.updateScore" id="{{partId}}-condition.updateScore" {{checked configurations.rollConfig.condition.updateScore}}>
    </div>
  </div>
  <div class="form-group slim">
    <label for="{{partId}}-condition.removeStatuses">{{localize "RYUUTAMA.ROLL.conditionRemoveStatuses"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="condition.removeStatuses" id="{{partId}}-condition.removeStatuses" {{checked configurations.rollConfig.condition.removeStatuses}} {{disabled (not configurations.rollConfig.condition.updateScore)}}>
    </div>
    <p class="hint">{{localize "RYUUTAMA.ROLL.conditionRemoveStatusesHint"}}</p>
  </div>
  {{/if}}

  {{#if showMagic}}
  <fieldset>
    <legend>{{localize "RYUUTAMA.ROLL.magic"}}</legend>
    <div class="form-group slim">
      <label for="{{partId}}-magic.consumeMental">{{localize "RYUUTAMA.ROLL.magicConsumeMental"}}</label>
      <div class="form-fields">
        <input type="checkbox" name="magic.consumeMental" id="{{partId}}-magic.consumeMental" {{checked configurations.rollConfig.magic.consumeMental}}>
      </div>
      <p class="hint">{{localize "RYUUTAMA.ROLL.magicConsumeMentalHint" mp=magicCost}}</p>
    </div>
  </fieldset>
  {{/if}}
</form>
