<form>
  <fieldset>
    <legend>{{title}}</legend>
    {{formGroup fields.choice.fields.type options=typeOptions value="standard" autofocus=true}}

    {{formGroup fields.choice.fields.chosen.fields.strength}}
    {{formGroup fields.choice.fields.chosen.fields.dexterity}}
    {{formGroup fields.choice.fields.chosen.fields.intelligence}}
    {{formGroup fields.choice.fields.chosen.fields.spirit}}
  </fieldset>
</form>
