<div class="dice-roll" data-action="expandRoll">
  <div class="dice-result">
    <div class="dice-formula">{{formula}}</div>
    {{{tooltip}}}
    <h4 class="dice-total">
      <span>{{total}}</span>
      {{#if properties.length}}
      <div class="dice-properties">
        {{#each properties}}
        <ryuutama-icon src="{{icon}}" data-tooltip-text="{{tooltip}}"></ryuutama-icon>
        {{/each}}
      </div>
      {{/if}}
    </h4>
  </div>
</div>
