<section>
  {{!-- WEATHER --}}
  <div class="form-group slim">
    <label for="{{rootId}}-WEATHER-ALL">{{localize "RYUUTAMA.WEATHER.CATEGORY.all"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="weather" value="ALL" {{checked weather.hasAll}} id="{{rootId}}-WEATHER-ALL">
    </div>
  </div>

  {{#each weather.groups}}
  <label class="checkbox">
    <input type="checkbox" name="weather" value="ALL:{{head.value}}" {{disabled head.disabled}} {{checked head.checked}}>
    <span>{{head.label}}</span>
  </label>

  {{#unless (or head.checked @root.weather.hasAll)}}
  <div class="form-group">
    <div class="form-fields">
      {{#each entries}}
      <label class="checkbox">
        <input type="checkbox" name="weather" value="{{value}}" {{disabled disabled}} {{checked checked}}>
        <span>{{label}}</span>
      </label>
      {{/each}}
    </div>
  </div>
  {{/unless}}

  {{/each}}

  {{!-- TERRAIN --}}
  <div class="form-group slim">
    <label for="{{rootId}}-TERRAIN-ALL">{{localize "RYUUTAMA.TERRAIN.CATEGORY.all"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="terrain" value="ALL" {{checked terrain.hasAll}} id="{{rootId}}-TERRAIN-ALL">
    </div>
  </div>

  {{#each terrain.groups}}
  <label class="checkbox">
    <input type="checkbox" name="terrain" value="ALL:{{head.level}}" {{disabled head.disabled}} {{checked head.checked}}>
    <span>{{head.label}}</span>
  </label>

  {{#unless (or head.checked @root.terrain.hasAll)}}
  <div class="form-group">
    <div class="form-fields">
      {{#each entries}}
      <label class="checkbox">
        <input type="checkbox" name="terrain" value="{{value}}" {{disabled disabled}} {{checked checked}}>
        <span>{{label}}</span>
      </label>
      {{/each}}
    </div>
  </div>
  {{/unless}}

  {{/each}}
</section>
