<div class="icon-field">
  {{#if isEditable}}
  <button type="button" data-action="configure" data-config="defense" class="unsize icon fa-solid fa-cog"></button>
  {{else}}
  <ryuutama src=""></ryuutama>
  {{/if}}
  <div class="form-group stacked">
    <label>{{localize "RYUUTAMA.ACTOR.armor"}}</label>
    <div class="form-fields">
      {{#if disabled}}
      <span class="value italics">{{document.system.defense.total}}</span>
      {{else}}
      {{formInput systemFields.defense.fields.armor value=source.system.defense.armor placeholder="0"}}
      {{/if}}
      {{#if armor.hasTags}}
      <div class="tags">
        {{#if armor.tags.physical}}
        <span class="tag">{{localize "RYUUTAMA.ACTOR.physical"}}: {{armor.tags.physical}}</span>
        {{/if}}
        {{#if armor.tags.magical}}
        <span class="tag">{{localize "RYUUTAMA.ACTOR.magical"}}: {{armor.tags.magical}}</span>
        {{/if}}
      </div>
      {{/if}}
    </div>
  </div>
</div>
