<section class="header {{#if disabled}} play {{else}} standard-form {{/if}}">
  {{#if disabled}}
  <aside class="avatar">
    <img src="{{document.img}}" alt="{{document.name}}">
  </aside>
  <h3 class="title">
    <span>{{document.name}}</span>
    <div class="tags">
      {{#if levelUp}}
      <a data-action="advance" class="tag {{#if levelUp.glow}} glow {{/if}}" data-tooltip-text="{{levelUp.tooltip}}" {{disabled (not editable)}}>{{levelUp.tag}}</a>
      {{/if}}
      {{#each tags}}
      <div class="tag" data-tooltip-text="{{{tooltip}}}">{{{tag}}}</div>
      {{/each}}
    </div>

    {{!-- TRAVELER: XP BAR --}}
    {{#if (eq document.type "traveler")}}
    <resource-bar resource="system.details.exp" class="exp" id="{{rootId}}-exp"></resource-bar>
    {{/if}}
  </h3>
  {{> "templates/generic/tab-navigation.hbs"}}
  {{else}}
  {{formGroup fields.name value=source.name}}
  {{formGroup fields.img value=source.img}}

  {{> "templates/generic/tab-navigation.hbs"}}
  {{/if}}
</section>
