<div class="form-group wide">
  <label>{{localize "RYUUTAMA.ACTOR.HP"}}</label>
  <div class="form-fields">
    {{#with document.system.resources.stamina}}
    <progress-bar class="stamina {{#if negative}} negative {{/if}}" id="{{@root.rootId}}-stamina" data-value="{{value}}" data-pct="{{pct}}" data-input data-name="system.resources.stamina.value" data-label="{{value}} / {{max}}"></progress-bar>
    {{/with}}
    {{#unless disabled}}
    <button type="button" data-action="configure" data-config="resource" data-resource="stamina" class="icon fa-solid fa-cog"></button>
    {{/unless}}
  </div>
</div>
<div class="form-group wide">
  <label>{{localize "RYUUTAMA.ACTOR.MP"}}</label>
  <div class="form-fields">
    {{#with document.system.resources.mental}}
    <progress-bar class="mental" id="{{rootId}}-mental" data-value="{{value}}" data-pct="{{pct}}" data-input data-name="system.resources.mental.value" data-label="{{value}} / {{max}}"></progress-bar>
    {{/with}}
    {{#unless disabled}}
    <button type="button" data-action="configure" data-config="resource" data-resource="mental" class="icon fa-solid fa-cog"></button>
    {{/unless}}
  </div>
</div>
