<div class="icon-fields column-3">
  {{#each statuses}}
  <div class="icon-field">
    <a data-action="toggleStatus" data-status="{{status}}" {{disabled (not editable)}}>
      <ryuutama-icon src="{{img}}" {{#if active}} class="active" {{/if}}></ryuutama-icon>
    </a>
    <div class="form-group stacked">
      <label>{{name}}</label>
      <div class="form-fields">
        <span class="value italics">{{label}}</span>
      </div>
    </div>
  </div>
  {{/each}}
</div>
